// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
// $yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color palette:
$purple: #110133;
$turquoise: #00918e;
$green: #4dd599;
$yellow: #ffdc34;

// Extra:
